{% extends "layout.html" %}

{% block title %}Elokuvan muokkaus{% endblock %}

{% block content %}
<h2>{{ movie.title }}</h2>
<h3>Muokkaa elokuvaa</h3>
<form action="/update_movie" method="post">
  <p>
    <label for="title">Nimi</label>: <br />
    <input type="text" name="title" id="title" value="{{ movie.title }}" maxlength="100" required />
  </p>
  <p>
    <label for="description">Kuvaus</label>: <br />
    <textarea name="description" id="description" rows="8" cols="60" maxlength="2000" required>{{ movie.description }}</textarea>
  </p>
  <p>
    <label for="year">Julkaisuvuosi</label>: <br />
    <input type="number" name="release_year" id="year" value="{{ movie.release_year }}" min="1888" max="2100" required />
  </p>
  
  <p>Genret:</p>
  {% for genre in all_genres %}
    <label>
      <input type="checkbox" name="genres" value="{{ genre.id }}"
        {% if genre.id in movie_genres %}checked{% endif %}>
      {{ genre.title }}
    </label><br>
  {% endfor %}

  <input type="hidden" name="movie_id" value="{{ movie.id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä elokuvan tiedot" />
</form>
<p>
  <a href="/movie/{{ movie.id }}">Palaa takaisin</a>
</p>
{% endblock %}
