{% extends "layout.html" %}

{% block title %}Uusi elokuva{% endblock %}

{% block content %}
<h2>Lisää uusi elokuva</h2>
<form action="/create_movie" method="post">
  <p>
    <label for="title">Elokuvan nimi:</label> <br />
    <input type="text" name="title" id="title" maxlength="100" required />
  </p>
  <p>
    <label for="description">Kuvaus:</label> <br />
    <textarea name="description" id="description" rows="8" cols="60" maxlength="2000" required></textarea>
  </p>
  <p>
    <label for="year">Julkaisuvuosi:</label> <br />
    <input type="number" name="year" id="year" min="1888" max="2100" required />
  </p>
  {% for category in categories %}
  <p>
    <label for="category{{ category }}">{{ category }}</label>: <br />
    <select name="categories" id="category{{ category }}">
      <option value="">(valitse)</option>
    {% for option in categories[category] %}
      <option value="{{ category }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lisää elokuva" />
</form>
{% endblock %}
