{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
<h2>Käyttäjä {{ user.username }}</h2>

<p>
  Käyttäjä on lisännyt yhteensä {{ movies | length }} elokuvaa.
</p>

<p>
  Käyttäjän antamien arvioiden keskiarvo: 
  {% if stats.avg_rating %}
    {{ stats.avg_rating }}
  {% else %}
    Ei arvioita
  {% endif %}
</p>

<h3>Lisätyt elokuvat</h3>
<ul>
  {% for movie in movies %}
  <li><a href="/movie/{{ movie.id }}">{{ movie.title }}</a> ({{ movie.release_year }})</li>
  {% else %}
  <li>Ei elokuvia.</li>
  {% endfor %}
</ul>
{% endblock %}
